/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,500&display=swap');

/* Global style */

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    margin: 0;
}


/* Classes style */


/* Header */

.header {
    background-color: #1F2937;
    padding-bottom: 60px;
}

.header-bar {
    /* Flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Other */
    padding: 0 10%;
    height: 76px;
}

.left-side {
    margin-right: auto;
}

.right-sude {
    margin-left: auto;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 23px;
}

.header-links .link {
    font-size: 18px;
    color: #E5E7EB;
    display: inline;
}


/* Header content */

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin: 100px 150px;
    height: 200px;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 400px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.sign-up-button {
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
    height: 35px;
    width: 100px;
    font-weight: 800;
    border-radius: 7px;
    margin: 7px;
}

.image-box {
    background-color: rgb(139, 138, 138);
    height: 230px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
}

.image-box .placeholder-text {
    font-size: 18px;
    color: #E5E7EB;
}


/* Information section */

.info-container {
    padding-bottom: 120px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 50px;
}

.info-boxes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.info-img {
    border: 5px solid #3882F6;
    width: 180px;
    height: 180px;
    border-radius: 17px;
}

.info-subtext {
    color: #616060;
    font-size: 18px;
    width: 180px;
    margin: 0;
    margin-top: 2px;
}


/* Quote section */

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20%;
    background-color: #E5E7EB;
}

.quote-box {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #253041;
    margin: 0;
}

.quote-citation {
    font-size: 18px;
    margin-top: 0;
    margin-left: auto;
}


/* Call to action section */

.call-to-action-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.call-to-action-box {
    background-color: #3882F6;
    width: 85%;
    max-width: 900px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.call-to-action-text .main-text {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 500;
    margin: 0;
}

.call-to-action-text .subtext {
    font-size: 14px;
    color: #E5E7EB;
    margin: 0;
}

.call-to-action-section .sign-up-button {
    background-color: transparent;
    border: 3px solid white;
    color: #E5E7EB;
    height: 30px;
    width: 100px;
    font-weight: 800;
    border-radius: 7px;
    margin: 7px;
}


/* Footer section */

.footer {
    height: 70px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #d5d6da
}